.animation-images__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 20px;
}

.field-constant {
 border-radius: 20px;
 display: flex;

  /*aaa*/

  height: 40px;
  overflow: hidden;
  width: 60px;
  justify-content: space-between;
  align-items: center;
  transition: all 35ms ease-in-out;
}

.field-constant:hover {
  width: 500px;
  transition: all 35ms ease-in-out;
}

.field-constant:hover .search__input  {
  width: 440px;
  margin-left: 5px;
  opacity: 1;
}

