.search__reset {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
  background-image: url("../../../images/reset.png");
  background-size: 100%;
  background-position: center;
  background-color: transparent;
  opacity: 0;
  transition: opacity .3s ease;
}

